<!-- author ben lawson (balawson@bu.edu) -->
<!doctype html>
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
<title>Photoshare</title>

{% if message is none %}
  <p>You should <a href='/login'>login!</a></p>
{% else %}
  <p> Go to <a href='/profile'>profile?</a></p>
{% endif %}

<p>Top 10 Users:</p>
{% if users %}<ul>
	{% for user in users %}
		<li>{{user[0]}} {{user[1]}}</li>
	{% endfor %}</ul>
{% endif %}

<ul>
<li><a href='/'>Home</a></li>
<li><a href='/show_all_photos'>View All Photos</a></li>
<li><a href= '/tag_search'>Search photos</a></li>

<li><a href='/register'>Make an Account</a>
<li><a href='/login'>Login</a></li>
<li><a href='/logout'>Logout</a></li>
</ul>

